@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style:normal;
  letter-spacing:0.2mm;
  margin: 2rem;
  background-color: #f7f7f8;
}

h2 {
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: sans-serif;
}

h3 {
  font-size: 2.3rem;
  line-height: 2.5rem;
  letter-spacing: 1.3px;
  font-weight: 660;
}

.opening-message{
  margin-right: 39%;
  margin-top: 2rem;
}
.stat-box-line-height {
  margin-top: 0.2rem;
  margin-bottom: 1.4rem;
}

p {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-bottom: 0.4rem;
}


span {
  padding: 0.3rem 0.5rem;
  font-weight: 700;
  border-radius: 1.3rem;
  font-family: sans-serif;
}

.caption {
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.04rem;
}

.caption-small{
  font-weight: 550;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.1rem;
  font-family: sans-serif;
  letter-spacing: 0px;
}

.stat-small-box-radius {
  border-radius: 1.4rem;
}

a.button {
  text-decoration: none;
  font-size: 0.98rem;
  font-weight: 700;
  color: #000;
  padding: 0.4rem 1.2rem;
  background-color: #fff;
  border: 2px solid #001725;
  filter: drop-shadow(4px 4px 0px #000);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

a:hover {
  background-color: #80b9dc;
}

.bg-generation-yellow {
  background-color: #ffd449;
}

.bg-generation-green {
  background-color: #32b34d;
}

.bg-generation-blue {
  background-color: #0074b9;
  color: #fff;
}

.button:visited {
  color: #001725;
}


.stat-box {
  font-size: 3.3rem;
}
.stat-font-small{
  font-size: 2.4rem;
  padding-top: 0.5rem;
  position: relative; 
  top: -10px;;
}

.stat-box-small {
  text-align: left;
  max-width: 130px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  text-align: left;
}

.container-inside-stat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.container-inside-stat > div {
  font-size: 2.8rem;
}

.durability{
  width: 23rem;
}
.depth {
  width: 24rem;
}
.breadth  {
  width: 23rem;
}
